/* CSS files add styling rules to your content */

@font-face {
  font-family: "stencil";
  src: url("https://cdn.glitch.com/b08c1cf8-2670-4add-b77d-522ca873e010%2FGT-Sectra-Display-Trial-Light.otf?v=1605825639086");
}

@font-face {
  font-family: "signage";
  src: url("https://cdn.glitch.com/b08c1cf8-2670-4add-b77d-522ca873e010%2FGT-Pressura-Pro-Trial-Light.otf?v=1605656661314");
}

@font-face {
  font-family: "city";
  src: url("https://cdn.glitch.com/b08c1cf8-2670-4add-b77d-522ca873e010%2FCityv1GX.ttf?v=1605997794854");
}


:root{
  --tree-gradient:radial-gradient(circle, rgba(219,255,233,1) 0%, rgba(61,255,56,1) 100%);
  --tree:#89b873;
  --tshadow:#00bd09;
  --grass-gradient:linear-gradient(150deg, #f9ffb5 0%, #ceff7a 100%);
  --building-gradient:linear-gradient(0deg, #cccccc 0%, #ededed 50%, #cccccc 100%);
  --grey:white;
  --red:black;
  --bgradient-primary:#919191;
  --bgradient-secondary:white;
  --bgradient-alt:#919191;
  --gradValue:20%;
  --windTime:7s;
}
  
html{
font-size:1vh;
}

body {
  font-family: "signage";
  /* font-family: helvetica, arial, sans-serif; */
  margin: 0px;
}

.fixedbg{
  height:100vh;
  width:100vw;
  background:radial-gradient(circle at var(--gradValue), var(--bgradient-secondary) 0%, var(--bgradient-alt) 100%);
  position:fixed;
}

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: flex!important;
}

.slide{
  width:100vw;
  height:100vh;
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
}

/* .sidewalk{
  position:absolute;
  height:100vh;
  width:15vw;
  background-color:black;
}

#left{
  left:30vw;
}

#right{
  right:30vw;
} */

.slide a{
  position:absolute;
  top:0;
  left:0;
}

p{
  font-size:8rem;
}

.material-icons{
  font-size:8rem!important;
  background-color:black;
  z-index:3;
}

.arrowLeft{
  width:8rem;
}


.navelement{
  position:absolute;
  width:max-content;
  display:flex;
  flex-flow:row nowrap;
  justify-content: center;
  align-items: center;
  font-size:8rem;
  color:var(--bgradient-alt);
  /* color:white; */
  background-color:var(--red);
  cursor:pointer;
}

.navup{
  top:0vh;
  width:40vw;
}

.navdown{
  bottom:0vh;
  width:40vw;
}

.navleft{
  left:0vh;
}

.navright{
  right:0vh;
}

.street-name{
  font-size:5rem;
  padding-left:5px;
  padding-right:5px;
}

.poem{
  width:40vw;
  color:var(--red);
  font-family:"stencil";
  height:max-content;
  max-height:calc(100vh - 16rem);
  display:flex;
  flex-flow:column nowrap;
}

.text{
  overflow-y:scroll;

}

.poem p{
  font-size:5rem;
  text-align:center;
}

.border-top{
  position:absolute;
  top:0;
  width:40vw;
  height:8rem;
  background-color:var(--red);
}

.border-bottom{
  position:absolute;
  bottom:0;
  width:40vw;
  height:8rem;
  background-color:var(--red);
}

.block-element{
  position:absolute;
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  /* background-color:blue; */
}


.left{
  width:20vw;
  height:100vh;
  left:0;
  align-items: flex-start;
}

.bleft{
  width:20vw;
  height:30vh;
  bottom:0;
  left:0;
  align-items: flex-start;
}

.htleft{
  width:20vw;
  height:70vh;
  top:0;
  left:0;
}

.right{
  width:20vw;
  height:100vh;
  right:0;
  align-items: flex-end;
}

.tright{
  width:20vw;
  height:30vh;
  top:0;
  right:0;
  align-items: flex-end;
}

.bright{
  width:20vw;
  height:30vh;
  bottom:0;
  right:0;
  align-items: flex-end;
}

.buildings{
  height:100%;
  width:max-content;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:column nowrap;
  
  /* justify-content: center; */
}

.building{
  width:15vw;
  height:100%;
  border:1px solid var(--red);
  margin-left:1vh;
  margin-right:1vh;
  margin-bottom:1vh;
  margin-top:1vh;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.ceiling{
  height:100%;
  width:50%;
  background-color: var(--red);
}

.windows{
  width:50%;
  height:100%;
  /* background-color: var(--red); */
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
  margin-left:10px;
  margin-right:10px;
}

.wleft{
  height:100%;
  width:50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.wright{
  height:100%;
  width:50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.window{
  width:80%;
  height:12%;
  border:1px solid var(--red);
  margin-top:15%;
  margin-bottom:15%;
  margin-left:0.5vw;
  margin-right:0.5vw;
  display:flex;
}

.shutter{
  height:100%;
  background-color: var(--red);
  animation-iteration-count: infinite;
}

.building p{
  display:none;
  margin:0;
  font-family: "city";
  font-size:15vw;
  vertical-align: top;
}

.right .building p{
  transform: rotate(180deg);
  margin-top:0;
}

.left .building{
  flex-direction:row-reverse;
}

.left .window, .tleft .window, .bleft .window, .htleft .window, .hbleft .window{
  justify-content:flex-end;
}

.wleft .window:nth-child(1) .shutter{
  animation-name:open-close-1;
  animation-direction: reverse;
  animation-duration:4s;
}

@keyframes open-close-1 {
  0%   {width: 20%;}
  20%   {width: 80%}
  90%   {width: 80%}
  100%   {width: 20%;}
}

.wleft .window:nth-child(2) .shutter{
  animation-name:open-close-2;
  animation-direction: normal;
  animation-duration:5s;
}

@keyframes open-close-2 {
  0%   {width: 70%;}
  30%   {width: 5%}
  80%   {width: 80%}
  100%   {width: 70%;}
}

.wleft .window:nth-child(3) .shutter{
  animation-name:open-close-3;
  animation-direction: normal;
  animation-duration:3s;
}

@keyframes open-close-3 {
  0%   {width: 30%;}
  10%  {width: 95%}
  50%   {width: 95%}
  100%   {width: 30%;}
}

.wleft .window:nth-child(4) .shutter{
  animation-name:open-close-4;
  animation-direction: normal;
  animation-duration:5s;
}

@keyframes open-close-4 {
  0%   {width: 50%;}
  10%   {width: 70%}
  90%   {width: 70%}
  100%   {width: 50%;}
}

.wright .window:nth-child(1) .shutter{
  animation-name:open-close-4;
  animation-direction: normal;
  animation-duration:3s;
}

.wright .window:nth-child(2) .shutter{
  animation-name:open-close-1;
  animation-direction: normal;
  animation-duration:6s;
}

.wright .window:nth-child(3) .shutter{
  animation-name:open-close-2;
  animation-direction: reverse;
  animation-duration:4s;
}

.wright .window:nth-child(4) .shutter{
  animation-name:open-close-3;
  animation-direction: normal;
  animation-duration:3s;
}


.bottom .hbuilding{
  border-top-width:35px;
 } 

.hblock-element{
  position:absolute;
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  /* background-color:blue; */
}

.bottom{
  height:30vh;
  width:100vw;
  bottom:0;
  align-items: flex-end;
}

.hbuildings{
  width:100%;
  display:flex;
  flex-flow:row nowrap;
  justify-content: center;
}

.hbuilding{
  width:100%;
  height:25vh;
  border:2px solid var(--red);
  margin-left:1vh;
  margin-bottom:1vh;
  margin-right:1vh;
  /* border:2px solid var(--red); */
}

.park{
  height:max-content;
  width:max-content;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-flow:column wrap;
  overflow-y:hidden;
}

.tree{
  height:17vw;
  width:17vw;
  border-radius:50%;
  /* border:1px solid var(--red);
  border-bottom-width:15px; */
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:16.5vw;
  font-family: "city";
  animation-duration:8s;
  animation-iteration-count: infinite;
  /* background-color:black; */
}

.tree:nth-child(odd){
  animation-direction: normal;
  animation-name: blowing;
}

.tree:nth-child(even){
  animation-direction: alternate;
  animation-name: blowing-back;
}


.tree img{
  height:100%;
  object-fit: contain;
}

.tree p{
  display:flex;
  align-items: center;
  margin:0px;
  font-size:16.3vw;
  line-height:0;
  margin-top:-3vh;
}

#tree0{
  animation-duration:3s;
}
#tree1{
  animation-duration:2s;
}
#tree2{
  animation-duration:2s;
}

@keyframes blowing {
  0%   {font-variation-settings: "ROTN" 100;}
  50%   {font-variation-settings: "ROTN" 0;}
  100%   {font-variation-settings: "ROTN" 100;}
}

@keyframes blowing-back {
  0%   {font-variation-settings: "ROTN" 0;}
  50%   {font-variation-settings: "ROTN" 100;}
  100%   {font-variation-settings: "ROTN" 0;}
}

.content{
  width:100vw;
  height:100vh;
  position:absolute;
  display:flex;
  flex-flow:row nowrap;
  justify-content: center;
  align-items: center;
}
/* 
.broadway{
  background-color:#bdbdbd;
}

.state{
  background-color:#63bcff;
} */
