/* CSS files add styling rules to your content */

@font-face {
  font-family: "stencil";
  src: url("https://cdn.glitch.com/b08c1cf8-2670-4add-b77d-522ca873e010%2FGT-Sectra-Display-Trial-Light.otf?v=1605825639086");
}

@font-face {
  font-family: "signage";
  src: url("https://cdn.glitch.com/b08c1cf8-2670-4add-b77d-522ca873e010%2FGT-Pressura-Pro-Trial-Light.otf?v=1605656661314");
}

@font-face {
  font-family: "city";
  src: url("https://cdn.glitch.com/b08c1cf8-2670-4add-b77d-522ca873e010%2FCityv1GX.ttf?v=1605997794854");
}


:root{
  --tree-gradient:radial-gradient(circle, rgba(219,255,233,1) 0%, rgba(61,255,56,1) 100%);
  --tree:#89b873;
  --tshadow:#00bd09;
  --grass-gradient:linear-gradient(150deg, #f9ffb5 0%, #ceff7a 100%);
  --building-gradient:linear-gradient(0deg, #cccccc 0%, #ededed 50%, #cccccc 100%);
  --grey:white;
  --red:black;
  --bgradient-primary:#919191;
  --bgradient-secondary:white;
  --bgradient-alt:#919191;
  --gradValue:20%;
  --windTime:7s;
}
  
html{
font-size:1vh;
}

body {
  font-family: "signage";
  /* font-family: helvetica, arial, sans-serif; */
  margin: 0px;
}

br{
  margin-top:5vh;
}

.fixedbg{
  height:100vh;
  width:100vw;
  background:radial-gradient(circle at var(--gradValue), var(--bgradient-secondary) 0%, var(--bgradient-primary) 100%);
  position:fixed;
}

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: flex!important;
}

.slide{
  width:100vw;
  height:100vh;
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
}

/* .sidewalk{
  position:absolute;
  height:100vh;
  width:15vw;
  background-color:black;
}

#left{
  left:30vw;
}

#right{
  right:30vw;
} */

.slide a{
  position:absolute;
  top:0;
  left:0;
}

p{
  font-size:8rem;
}

.material-icons{
  font-size:8rem!important;
  background-color:black;
  z-index:3;
}

.arrowLeft{
  width:8rem;
}


.navelement{
  position:absolute;
  width:max-content;
  display:flex;
  flex-flow:row nowrap;
  justify-content: center;
  align-items: center;
  font-size:8rem;
  color:var(--bgradient-primary);
  background-color:var(--red);
  cursor:pointer;
}

.navup{
  top:0vh;
  width:40vw;
}

.navdown{
  bottom:0vh;
  width:40vw;
}

.navleft{
  left:0vh;
}

.navright{
  right:0vh;
}

.street-name{
  font-size:5rem;
  padding-left:5px;
  padding-right:5px;
}

.poem{
  width:40vw;
  color:var(--red);
  font-family:"stencil";
  height:max-content;
  max-height:calc(100vh - 16rem);
  display:flex;
  flex-flow:column nowrap;
  overflow:scroll;
}

.hpoem .poem{
  width:40vw;
  max-height:50vh;
  margin-top:-20px;
}

.hpoem .poem p{
  margin-top:25px;
}

.text{
  overflow-y:scroll;

}

.poem p{
  font-size:5rem;
  text-align:center;
  line-height:1;
  margin-top:50px;
}

.separator{
  height:25px;
}

.border-top{
  position:absolute;
  top:0;
  width:40vw;
  height:8rem;
  background-color:var(--red);
}

.border-bottom{
  position:absolute;
  bottom:0;
  width:40vw;
  height:8rem;
  background-color:var(--red);
}

.block-element{
  position:absolute;
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  /* background-color:blue; */
}


.left{
  width:20vw;
  height:100vh;
  left:0;
  align-items: flex-start;
}

.bleft{
  width:20vw;
  height:30vh;
  bottom:0;
  left:0;
  align-items: flex-start;
}

.tleft{
  width:20vw;
  height:30vh;
  top:0;
  left:0;
  align-items: flex-start;
}

.htleft{
  width:20vw;
  height:70vh;
  top:0;
  left:0;
}

.right{
  width:20vw;
  height:100vh;
  right:0;
  align-items: flex-end;
}

.tright{
  width:20vw;
  height:30vh;
  top:0;
  right:0;
  align-items: flex-end;
}

.bright{
  width:20vw;
  height:30vh;
  bottom:0;
  right:0;
  align-items: flex-end;
}

.buildings{
  height:100%;
  width:max-content;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:column nowrap;
  
  /* justify-content: center; */
}

.building{
  width:15vw;
  height:100%;
  border:1px solid var(--red);
  border-radius: 3vh;
  margin-left:1vh;
  margin-right:1vh;
  margin-bottom:1vh;
  margin-top:1vh;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.hbuildings{
  width:100%;
  display:flex;
  flex-flow:row nowrap;
  justify-content: center;
}

.hbuilding{
  display:hidden;
  width:100%;
  height:25vh;
  border:1px solid var(--red);
  border-radius: 3vh;
  margin-left:1vh;
  margin-bottom:1vh;
  margin-right:1vh;
  display:flex;
  /* border:2px solid var(--red); */
}

.top .hbuilding{
  flex-flow:column-reverse nowrap;
}

.bottom .hbuilding{
  flex-flow:column nowrap;
}

.buildings .ceiling{
  height:100%;
  width:50%;
  background-color: var(--red);
  border-radius:3vh;
}

.hbuildings .ceiling{
  width:100%;
  height:50%;
  background-color: var(--red);
  border-radius:3vh;
}

.buildings .windows{
  width:50%;
  height:100%;
  /* background-color: var(--red); */
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
  margin-left:10px;
  margin-right:10px;
}

.hbuildings .windows{
  height:50%;
  width:100%;
  /* background-color: var(--red); */
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
  margin-left:10px;
  margin-right:10px;
}

.buildings .wleft{
  height:100%;
  width:50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.buildings .wright{
  height:100%;
  width:50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.hbuildings .wleft{
  width:100%;
  height:50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.hbuildings .wright{
  width:100%;
  height:50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.window{
  display:flex;
  overflow:hidden;
  border:1px solid var(--red);
  border-radius: 1.1vh;
  margin-top:15%;
  margin-bottom:15%;
  margin-left:0.5vw;
  margin-right:0.5vw;
}

.buildings .window{

  width:80%;
  height:12%;
}

.hbuildings .window{
  height:80%;
  width:12%;
  border-radius: 1.1vh;
  flex-flow: column nowrap;
}

.top .window{
  flex-flow: column-reverse nowrap;
}

.buildings .shutter{
  height:100%;
  background-color: var(--red);
  animation-iteration-count: infinite;
}

.hbuildings .shutter{
  width:100%;
  background-color: var(--red);
  animation-iteration-count: infinite;
}

.left .building, .tleft .building, .bleft .building,  .htleft .building,  .hbleft .building{
  flex-direction:row-reverse;
}

.left .window, .tleft .window, .bleft .window, .htleft .window, .hbleft .window{
  justify-content:flex-end;
}

.buildings .wleft .window:nth-child(1) .shutter{
  animation-name:open-close-1;
  animation-direction: reverse;
  animation-duration:20s;
}

.hbuildings .wleft .window:nth-child(1) .shutter{
  animation-name:vopen-close-1;
  animation-direction: reverse;
  animation-duration:20s;
}

@keyframes open-close-1 {
  0%   {width: 80%;}
  100%   {width: 80%;}
}

@keyframes vopen-close-1 {
  0%   {height: 80%;}
  100%   {height: 80%;}
}

.buildings .wleft .window:nth-child(2) .shutter{
  animation-name:open-close-2;
  animation-direction: reverse;
  animation-duration:25s;
}

.hbuildings .wleft .window:nth-child(2) .shutter{
  animation-name:vopen-close-2;
  animation-direction: reverse;
  animation-duration:25s;
}

@keyframes open-close-2 {
  0%   {width: 90%;}
  30%   {width: 5%}
  80%   {width: 5%}
  100%   {width: 90%;}
}

@keyframes vopen-close-2 {
  0%   {height: 90%;}
  30%   {height: 5%}
  80%   {height: 5%}
  100%   {height: 90%;}
}

.buildings .wleft .window:nth-child(3) .shutter{
  animation-name:open-close-3;
  animation-direction: normal;
  animation-duration:28s;
}

.hbuildings .wleft .window:nth-child(3) .shutter{
  animation-name:vopen-close-3;
  animation-direction: normal;
  animation-duration:38s;
}


@keyframes open-close-3 {
  0%   {width: 30%;}
  100%   {width: 30%;}
}

@keyframes vopen-close-3 {
  0%   {height: 30%;}
  100%   {height: 30%;}
}


.buildings .wleft .window:nth-child(4) .shutter{
  animation-name:open-close-4;
  animation-direction: normal;
  animation-duration:25s;
}

.hbuildings .wleft .window:nth-child(4) .shutter{
  animation-name:vopen-close-4;
  animation-direction: normal;
  animation-duration:25s;
}

@keyframes open-close-4 {
  0%   {width: 20%;}
  10%   {width: 70%}
  90%   {width: 70%}
  100%   {width: 20%;}
}

@keyframes vopen-close-4 {
  0%   {height: 20%;}
  10%   {height: 70%}
  90%   {height: 70%}
  100%   {height: 20%;}
}

.buildings .wright .window:nth-child(1) .shutter{
  animation-name:open-close-4;
  animation-direction: normal;
  animation-duration:25s;
}

.hbuildings .wright .window:nth-child(1) .shutter{
  animation-name:vopen-close-4;
  animation-direction: normal;
  animation-duration:25s;
}

.buildings .wright .window:nth-child(2) .shutter{
  animation-name:open-close-1;
  animation-direction: normal;
  animation-duration:26s;
}

.hbuildings .wright .window:nth-child(2) .shutter{
  animation-name:vopen-close-1;
  animation-direction: normal;
  animation-duration:26s;
}

.buildings .wright .window:nth-child(3) .shutter{
  animation-name:open-close-2;
  animation-direction: reverse;
  animation-duration:20s;
}

.hbuildings .wright .window:nth-child(3) .shutter{
  animation-name:vopen-close-2;
  animation-direction: reverse;
  animation-duration:20s;
}

.buildings .wright .window:nth-child(4) .shutter{
  animation-name:open-close-3;
  animation-direction: normal;
  animation-duration:23s;
}

.hbuildings .wright .window:nth-child(4) .shutter{
  animation-name:vopen-close-3;
  animation-direction: normal;
  animation-duration:23s;
}


.hblock-element{
  position:absolute;
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  /* background-color:blue; */
}

.bottom{
  height:25vh;
  width:100vw;
  bottom:0;
  align-items: flex-end;
}

.top{
  height:27vh;
  width:100vw;
  top:0;
  align-items: flex-end;
}

.park{
  height:max-content;
  width:max-content;
  display:flex;
  justify-content:center;
  align-items: center;
  overflow:hidden;
}

.block-element .park{
  flex-flow:column wrap;
}

.hblock-element .park{
  height:27vh;
  flex-flow:row nowrap;
}

.tree{
  height:17vw;
  width:17vw;
  border-radius:50%;
  /* border:1px solid var(--red);
  border-bottom-width:15px; */
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: "city";
  animation-duration:8s;
  animation-iteration-count: infinite;
  /* background-color:black; */
  flex-shrink: 0;
}


.tree:nth-child(odd){
  animation-direction: normal;
  animation-name: blowing;
}

.tree:nth-child(even){
  animation-direction: alternate;
  animation-name: blowing-back;
}


.tree img{
  height:100%;
  object-fit: contain;
}

.tree p{
  display:flex;
  align-items: center;
  justify-content: center;
  margin:0px;
  line-height:0;
  margin-top:-3vh;
  height:100%;
  width:100%;
  color:var(--red);
}

.block-element .tree p{
  font-size:16.3vw;
}

.hblock-element .tree p{
  font-size:14vw;
  margin:10px;
}

#tree0{
  animation-duration:3s;
}
#tree1{
  animation-duration:2s;
}
#tree2{
  animation-duration:2s;
}

@keyframes blowing {
  0%   {font-variation-settings: "ROTN" 100;}
  50%   {font-variation-settings: "ROTN" 0;}
  100%   {font-variation-settings: "ROTN" 100;}
}

@keyframes blowing-back {
  0%   {font-variation-settings: "ROTN" 0;}
  50%   {font-variation-settings: "ROTN" 100;}
  100%   {font-variation-settings: "ROTN" 0;}
}

.content{
  width:100vw;
  height:100vh;
  position:absolute;
  display:flex;
  flex-flow:row nowrap;
  justify-content: center;
  align-items: center;
}

.cwalkh{
  position:absolute;
  width:10vw;
  height:40vh;
  display:flex;
  justify-content: space-evenly;
  flex-flow:column nowrap;
  margin-bottom:1vw;
}

.leftwalk{
  left:20vw;
}

.rightwalk{
  right:20vw;
}

.cwalkv{
  position:absolute;
  width:40vw;
  height:20vh;
  display:flex;
  justify-content: space-evenly;
  flex-flow:row nowrap;
  margin-right:1vw;
}

.topwalk{
  top:12vh;
}

.bottomwalk{
  bottom:12vh;
}

.cbarh{
  width:100%;
  height:3vw;
  border-radius:0.5vw;
  background-color:var(--bgradient-primary);
}

.leftwalk .cbarh{
  margin-top:1vw;
}

.rightwalk .cbarh{
  margin-top:1vw;
}

.cbarv{
  width:3vw;
  height:100%;
  border-radius:0.5vw;
  margin-left:1vw;
  background-color:var(--bgradient-primary);
}